@font-face {
  font-family: "CabinetGroteskExtraBold";
  src: url("../../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2")
      format("woff2"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff")
      format("woff"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGroteskMedium";
  src: url("../../fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff") format("woff"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGroteskBold";
  src: url("../../fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2")
      format("woff2"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff") format("woff"),
    url("../../fonts/CabinetGrotesk/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
