/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #f2e4c1;
  --black: #21201d;
  --ipa-green: #cede8b;
  --dark-red: #d66750;
  --blond-yellow: #f3d18c;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-color);
}

h2 {
  font-family: CabinetGroteskExtrabold;
  color: var(--black);
  font-size: 70px;
  line-height: 83.774%;
  letter-spacing: 10.5px;
  text-transform: uppercase;
  margin-bottom: 55px;
  margin-top: 70px;
}

h3 {
  color: var(--black);
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  font-family: "massilia", sans-serif;
  color: var(--Black, #21201d);
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

a {
  text-decoration: none;
}

footer a {
  color: var(--black);
  font-family: Massilia;
  font-size: 20px;
  font-weight: 300;
}

footer {
  border-top: 1px solid var(--black);
  margin-top: 250px;
  padding: 70px 70px 30px 70px;
  z-index: 4;
}

footer img {
  width: 300%;
  text-align: center;
  margin-bottom: 20px;
}

footer p {
  color: var(--black);
  line-height: normal;
}
