/*
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/

.l-section-blond {
  background: var(--blond-yellow);
}

.l-section-dark {
  background: var(--dark-red);
}

.l-section-ipa {
  background: var(--ipa-green);
}

.l-section-mission {
  background: var(--black);
  color: var(--main-color);
}

.l-section-about {
  background: var(--black);
  color: var(--main-color);
}
