/*
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/

.l-section-blond {
  background: var(--blond-yellow);
}

.l-section-dark {
  background: var(--dark-red);
}

.l-section-ipa {
  background: var(--ipa-green);
}

.l-desktop-bottle {
  margin-left: 150px;
}

.l-section-mission {
  background: var(--black);
  margin: 160px 100px;
  text-align: center;
}

.l-section-mission p {
  padding-bottom: 150px;
}

.l-section-mission h2 {
  font-size: 50px;
  padding-top: 80px;
}

.l-section-mission-content {
  color: var(--main-color);
}

.l-section-about {
  background: var(--black);
  margin-bottom: 50px;
}

.l-section-about-content {
  margin-top: 60px;
  margin-bottom: 90px;
  padding-right: 120px;
  color: var(--main-color);
}

.l-section-about-title {
  color: var(--main-color);
}

.l-map {
  margin-top: 70px;
}
